/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Header */
header {
  background: #005bac;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  font-size: 24px;
}

header input {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
}

/* Banner */
.banner img {
  width: 100%;
  height: auto;
  display: block;
}

/* Welcome Section */
.welcome {
  background: #e0f7fa;
  padding: 40px 20px;
  text-align: center;
}

.welcome h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Gallery Section */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 5fr));
  gap: 20px;
  padding: 40px 20px;
  padding-bottom: 10px;
  background: #ffffff;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.377);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 16px;
}

/* Smart Booking Section */
.trend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 20px;
  background: #fafafa;
  align-items: center;
}

.trend .text {
  flex: 1 1 50%;
  padding: 20px;
}

.trend .image {
  flex: 1 1 40%;
  padding: 20px;
}

.trend img {
  max-width: 100%;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #005bac;
  color: white;
  font-size: 14px;
}